.descriptionBlock {
    padding: 10px;
}
.avatar {
    height: 100px;
    width: 100px;
}
.contact {
    padding-left: 10px;
}
.formSummaryError {
    border: red 1px solid;
    padding: 5px;
    color: red;
}